<p id="notice"><%= notice %></p>
<h1>List of existing domains</h1>
<hr/>
<table border="1" cellspacing="2" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>TTL</th>
		<th>Email</th>
		<th>Number of Records</th>
		<th>Comment</th>
		<th></th>
		<th></th>
	</tr>
	<% @domains.each do |domain| %>
	<tr>
		<td><%= link_to domain.name, domain_url(domain.id) %></td>
		<td><%= domain.ttl %></td>
		<td><%= domain.email %></td>
		<td><%= domain.records.count %></td>
		<td><%= domain.comment %></td>
		<td><%#= link_to "Edit", edit_domain_url(domain.id) %></td>
		<td><%= link_to "Delete", domain_url(domain.id), :method => "delete" %></td>
	</tr>
	<% end %>
</table>
