<h1>Records for <%= link_to @records.first.name, domains_url %></h1>
<hr/>
<table border="1" cellspacing="2" cellpadding="5">
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Data</th>
		<th>TTL</th>
		<th>Priority</th>
	</tr>
	<% @records.each do |record| %>
	<tr>
		<td><%= record.name %></td>
		<td><%= record.type %></td>
		<td><%= record.data %></td>
		<td><%= record.ttl %></td>
		<td><%= record.priority %></td>
	</tr>
	<% end %>
</table>
