<!DOCTYPE html>
<html>
<head>
  <title>DnsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<br />
<%= link_to 'Home', root_url %>
</body>
</html>
